<div class="row">
  <div class="col-md"></div>
  <div class="col-md">
    <h1>Upload a gif:</h1>

    <%= form_with(model: gif, local: true) do |f| %>
      <% if gif.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(gif.errors.count, "error") %> prohibited this gif from being saved:</h2>

          <ul>
            <% gif.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control" %>
      </div>

      <div class="form-group file-field">
        <%= f.label :file %>
        <%= f.file_field :file, class: "form-control-file" %>
      </div>

      <div class="form-group actions">
        <%= f.submit "Create Gif", class: "btn btn-primary" %>
      </div>
    <% end %>

  </div>
  <div class="col-md"></div>
</div>
